.dashboard-wrapper {
  display: flex;
  align-items: center;
  padding-top: 30px;
  margin-top: 50px;
  margin: 50px 22%;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 470px;
  margin: 10px;
  border: 1px solid #dedbdb;
  border-radius: 8px;
  background-color: #fff;
}

.top-post-menu {
  display: flex;
  align-items: center;
  gap: 340px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-user-icon {
  width: 32px;
  height: 32px;
  border-radius: 30px;
}

#dynamic-image-by-user {
  height: auto;
  width: 470px;
  object-fit: contain;
}

.bottom-post-icons {
  display: flex;
  align-items: center;
  gap: 340px;
  padding-top: 15px;
}

.bottom-icons-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#actions-btn:hover {
  cursor: pointer;
}

.likes-session {
  display: flex;
  align-items: center;
  width: 470px;
  padding: 15px 0px 10px 10px;
}

.post-caption {
  display: flex;
  align-items: center;
  width: 470px;
  gap: 5px;
  padding: 0px 20px 8px 10px;
}

.post-comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 470px;
    gap: 5px;
    padding: 0px 20px 10px 10px;
}

.post-comments-user {
  margin-right: 5px;
  color: black;
  font-weight: bold;
}

.comments-view-more {
  cursor: pointer;
}

.post-add-comment {
  display: flex;
  width: 470px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #dedbdb;
  height: 50px;
}

input[name="add-comment"] {
  width: 400px;
  height: 38px;
  padding: 10px 20px 10px 10px;
  margin: 0px 3px;
  border: 0px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  outline: none;
}

.post-add-comment > button {
    background-color: #fff;
    border: none;
    color: rgb(0,149,246);
    font-weight: 600;
}

.post-add-comment > button:disabled {
  color: rgb(0 149 246 / 34%)
}
